.logo{
    width: 80px;
    object-fit: contain;
    margin-left: 20px;
}
.user_avatar{
    width: 30px;
    object-fit: contain;
    margin-right: 20px;   
}
.searchContainer{
    display: flex;
    align-items: center;
    margin-right: 10px;
    position: relative;
    
}
.navOptionsContainer{
    display: flex;
    align-items: center;

}
.searchBox{
    height: 24px;
    padding-left: 30px;
    background-color: #000000bf;
    border-style: solid;
    box-shadow: none;
    border-color: white;
    border-width: 1px;
    color: white;
}
.loader{
    position: absolute;
    right: 0;
    top: 3px;
    padding-right: 5px;
}
.search{
    width: 22px;
    object-fit: contain;
    position: absolute;
    padding: 3px;
    cursor: pointer;
    /* margin-right: 20px;    */
}
.searchOnly{
    width: 22px;
    object-fit: contain;
    padding-right: 10px;
    cursor: pointer;

}
.navbar{
    position: fixed;
    padding: 0px 5px;
    top: 0;
    height: 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav_black{
    background-color: #111111;

}